div.each-serv {
  background-color: #ffffff1a;
  min-height: 240px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
div.services {
  margin-top: 100px;
}
img.serv-img {
  width: 50px;
  height: 50px;
}

p.serv-name {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 25px;
  letter-spacing: 2px;
}
div.each-serv:hover {
  background-color: var(--primary-color);
  color: white;
}
div.each-serv:hover p.bar {
  background-color: black;
}
p.bar {
  width: 35px;
  height: 1px;
  /* color: var(--primary-color); */
  background-color: var(--primary-color);
}
